/* Reset default browser styles and set default font family and size */
html, body, h1, h2, h3, p, ul, li, a, form, input, textarea, button, header, footer, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    text-decoration: none;
}

.highlight {
    color: #ff0000;
    text-decoration: none;
}

.name {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px yellow;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Navigation styles */
nav.nav-right {
    display: flex;
}

nav.nav-right ul {
    list-style-type: none;
    display: flex;
}

nav.nav-right ul li {
    margin-right: 20px;
}

nav.nav-right ul li:last-child {
    margin-right: 0;
}

nav.nav-right ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

nav.nav-right ul li a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff0000;
    transition: width 0.3s ease;
}

nav.nav-right ul li a:hover:before {
    width: 100%;
}

/* Footer styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Add this CSS for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav.nav-right {
        display: none;
    }

    .logo h1 {
        font-size: 20px;
    }

    header {
        padding: 10px;
    }
}
